@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

$primary: #6338a1;
$primary-hover: #542891;
$bg-purple: #9f87d6;
$white: #fff;
$gray: #a5a4a4;
$light-gray: #cdcdcd;
$bg-content: #f4f4f4;
$black: #131313;
$orange: #f06a43;
$red: #c70202;
$bg-red: #fff;

body,
html {
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.text-lg {
  font-size: 20px;
}

.text-xl {
  font-size: 28px;
}

.color-black {
  color: $black;
}

.color-gray {
  color: $gray;
}

.color-orange {
  color: $orange;
}

.color-red {
  color: $red;
}

.bg-purple {
  background-color: $bg-purple;
}

.bg-white {
  background-color: $white;
}

.bg-content {
  background-color: $bg-content;
  min-height: calc(100vh - 79px);
  max-height: calc(100vh - 79px);
  overflow-y: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.input-default {
  border: 0;
  border-bottom: 1px solid $gray;
  padding: 5px 0px;

  &:hover,
  &:focus-visible {
    outline: none;
    border-color: $primary;
  }
}

.button-default {
  background-color: $primary;
  color: $white;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 100px;
  padding: 10px 40px;
  transition: all 0.25s ease-in-out;

  &:hover {
    background-color: $primary-hover;
  }

  &:disabled {
    background-color: $light-gray;
    color: $gray;
  }
}

::placeholder {
  font-style: italic;
  color: $light-gray;
}

::-ms-input-placeholder {
  /* Edge 12-18 */
  font-style: italic;
  color: $light-gray;
}

.card-default {
  background-color: $white;
  width: auto;
  min-width: 500px;
  overflow: hidden;
  border-radius: 0.5rem;
}

.header-login {
  position: absolute;
  left: 0;
  top: 0;
}

.logo {
  width: 130px;
  height: auto;
}

.right-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: $gray;

  &:hover {
    color: $primary;
  }
}

.modal-body {
  border: 1px dashed $red;
}

.sidebar {
  min-width: 300px;
  min-height: 100vh;
  overflow-y: auto;
  position: relative;
  transition: all 0.25s ease-in-out;
}

.header-splash {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: auto;
}

.header-logo {
  width: 100px;
  height: auto;
}

.footer-splash {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 300px;
}

.sidebar-menu {
  cursor: pointer;
  color: $primary;
  padding: 10px 20px;
  border-radius: 10px;
  border-bottom: 1px solid $primary;

  &:hover {
    background-color: $primary;
    color: $white;
  }
  margin-bottom: 10px;
}

.sidebar-menu.active {
  background-color: $primary;
  color: $white;
}

.border-bottom {
  border-bottom: 1px solid $gray;
}

.input-search {
  border-radius: 100px;
  border: 1px solid $gray;
  padding: 5px 20px;
  width: 300px;

  &:hover,
  &:focus-visible {
    outline: none;
    border: 1px solid $primary;
  }
}

.search-logo {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.dropdown {
  .btn-primary {
    background-color: transparent !important;
    border: 1px solid $gray !important;
    border-radius: 50%;
    padding: 0 !important;
    width: 35px;
    height: 35px;
    overflow: hidden;

    &::after {
      display: none !important;
    }

    img {
      width: 100%;
    }
  }
}

.card-product {
  background-color: $white;
  border-radius: 8px;
  overflow: hidden;
  height: 100%;
  cursor: pointer;

  img {
    width: 100%;
    min-height: 150px;
    max-height: 150px;
    height: auto;
    object-fit: cover;
  }
}

.navbar-expand {
  display: none;
}

@media only screen and (max-width: 500px) {
  .card-default {
    width: 100%;
    min-width: 0;
    min-height: 100vh;
    border-radius: 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .header-login {
    width: 110px;
    height: auto;
  }
}

.backdrop {
  display: none;
}

.img-placeholder {
  background-color: $gray;
  width: 100%;
  min-height: 150px;
  max-height: 150px;
}

@media only screen and (max-width: 992px) {
  .sidebar {
    min-width: 0px;
    width: 0px;
    padding: 0px !important;
  }

  .sidebar.active {
    min-width: 300px;
    max-width: 80%;
    position: fixed;
    z-index: 10;
    background-color: $white;
    padding: 20px !important;
  }

  .backdrop {
    position: fixed;
    z-index: 5;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .backdrop.active {
    display: block;
  }

  .navbar-user {
    display: none;
  }

  .input-search {
    width: 200px;
  }

  .navbar-expand {
    display: block;
  }
}
